extends layout

block content
    h1= title

    form(method='POST')
        div.form-group
            label(for='name') Назва жанру:
            input#name.form-control(
                type='text',
                placeholder='Назва жанру',
                name='name',
                required,
                value=(typeof genre === 'undefined' ? '' : genre.name)
            )
        button.btn.btn-primary(type='submit') Зберегти

    if errors
        ul
            for error in errors
                li!= error.msg
